/* media queries */

@media (max-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media (max-width: 992px){
    .container {
        max-width: 960px;
    }
} 

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}




body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #212529; */
    text-align: left;
    background-color: #fff;
}

table{
    /* display: table; */
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 1rem;
    border-color: grey;
    font-variant: normal;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table tbody {
    text-align: center;
}

.tableau td,
.tableau th {
    padding: 0.75rem;
    vertical-align: top;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.tableau thead th {
    vertical-align: bottom;
}


.tableau {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif !important; 
}

.text__style{
    text-transform: uppercase !important;
    color: #6c757d !important;
}


.tableau-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

*,
::after,
::before {
    box-sizing: border-box;
}

table th{
    vertical-align: bottom;
    border-bottom: none !important;
}

table tbody{
    text-align: center;
}

table th{
    text-align: center;
    border-top: none !important;
}

table th img{
    bottom: 0;
}
.tableau-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


/* .bottom__line{
    border-bottom: 2px solid lightgrey !important;
}

#top__border{
    border-top: 2px solid lightgrey !important;
}

th {
    border: 2px solid lightgrey;
} */

td {
    /* border: 2px solid lightgrey; */
    display: table-cell;
    border-top: none !important;
    border-bottom: none !important;
}

.outlined {
    border: 2px solid lightgrey !important;
}
