.table{
    font-family: 'Montserrat', sans-serif !important; 
  /* border: 1px solid black;   */
  /* border-style: groove !important; */
  
}

table th{
    border-bottom: none !important;
}

table tbody{
    text-align: center;
}

table th{
    text-align: center;
}

table th img{
    bottom: 0;
}

.rows {
    display: flex;
}

.rows > div {
    flex: 1;
    background: lightgrey;
    border: 1px solid grey;
}
table td{
    border-top: none !important;
}
 